{% load static %}
<html>
<head>
<title>Metro Rail Origin Destination Prediction</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow"><font size="4" color="black">Adaptive Feature Fusion Networks for Origin-Destination Passenger Flow Prediction in Metro Systems</font></center></font>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
		<li><a href="{% url 'LoadDataset' %}"><font size="2" color="black">Load & Process Dataset</font></a></font></li>
	  <li><a href="{% url 'TrainMLP' %}"><font size="2" color="black">Existing MLP</font></a></font></li>
	   <li><a href="{% url 'TrainAFFN' %}"><font size="2" color="black">Propose AFFN (EMGC-GRU)</font></a></font></li>
	   <li><a href="{% url 'TrainLSTM' %}"><font size="2" color="black">Extension AFFN (EMGC-LSTM)</font></a></font></li>
	   <li><a href="{% url 'Graphs' %}"><font size="2" color="black">Comparison</font></a></font></li>	  
	   <li><a href="{% url 'index' %}"><font size="2" color="black">Logout</font></a></font></li>		
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>
	<br/>
	<font size="" color="black"><center>{{ data|safe }}</center></font>

	<p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">
		Navigating the Path to Academic Success

</p>
</body>
</html>
